<span class="action" (click)="createUser()"><i class="fas fa-plus"></i></span>
<span class="action" (click)="toggleFiltering()"><i class="fas fa-filter"></i></span>

<table id="users">
  <tr>
    <th>
      {{userIdColumnHeaderTxt}}
      <ng-container *ngIf="isFilterEnabled">
        <br>
        <input type="text" [(ngModel)] = userId>
      </ng-container>
    </th>
    <th>
      {{nrOfPostsColumnHeaderTxt}}
      <ng-container *ngIf="isFilterEnabled">
        <br>
        <input type="text" [(ngModel)] = nrOfPosts>
      </ng-container>
    </th>
    <th>
      {{actionsColumnHeaderTxt}}
    </th>
  </tr>
  <tr *ngFor="let user of users | filterUsers: userId: nrOfPosts; let idx = index" (click)="select(user)">
    <td>{{user?.userId}}</td>
    <td>{{user?.posts?.length}}</td>
    <td>
      <div class="action-bar">
        <span class="action"><i class="fas fa-pencil" (click)="preEdit(user)"></i></span>
        <span class="action"><i class="fas fa-trash" (click)="preDelete(user)"></i></span>
      </div>
    </td>
  </tr>
</table>

<app-dialog [display]="editUser" (closeDialog)="editUser = false" (actionDialog)="edit(selectedUser)">
  <h1 style="padding: 1em">Delete all posts for User ID ?<br><br><i>"{{selectedUser?.userId}}"</i></h1>
</app-dialog>

<app-dialog [display]="deleteUser" (closeDialog)="deleteUser = false" (actionDialog)="delete(selectedUser)">
  <h1 style="padding: 1em">Delete selected User ID ?<br><br><i>"{{selectedUser?.userId}}"</i></h1>
</app-dialog>
