<h1>Users</h1>

<span class="action"><i class="fas fa-plus"></i></span>

<table id="posts">
  <tr>
    <th>User ID</th>
    <th>Number of posts</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{user?.userId}}</td>
    <td>{{user?.posts?.length}}</td>
    <td>
      <div class="action-bar">
        <span class="action"><i class="fas fa-pencil" (click)="onSelect(user)"></i></span>
        <span class="action"><i class="fas fa-eye" (click)="onSelect(user)"></i></span>
        <span class="action"><i class="fas fa-trash" (click)="onDelete(user)"></i></span>
      </div>
    </td>
  </tr>
</table>
