<div class="post" [class.post-new]="hideNotification === false">

  <div *ngIf="hideNotification === false" style="height: auto; padding: 1em;">
    <ng-content select="[date]"></ng-content> <ng-content select="[new]"></ng-content>
  </div>

  <ng-container *ngIf="hideNotification === true else loading">
    <div class="post-header">
      <i class="far fa-user-circle"> User ID {{post?.userId}}</i>
      <div>
        <!--      <i class="fas fa-ellipsis-h"></i>-->
        <i class="fas fa-trash post-header-delete" (click)="delete(post)"></i>
      </div>
    </div>
    <div class="post-content">
      <div class="post-content-title"><b>{{post?.title}}</b></div>
      <div class="post-content-body">{{post?.body}}</div>
    </div>
    <div class="post-footer" *ngIf="hideNotification === true">
      <i class="far fa-thumbs-up post-footer-item"></i>
      <i class="far fa-comment post-footer-item"></i>
      <i class="far fa-share post-footer-item"></i>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <ng-content select="[loading]"></ng-content>
</ng-template>
