:host {
  display: block;
  margin: 0 1em;
  height: 100vh;
}
.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid-item {
  overflow: auto;
}
.loading {
  position: relative;
  top: 33vh;
  margin: auto;
  width: 50%;
  padding: 10px;
}
