<ng-container *ngIf="user else loading">
  <ng-cotainer *ngIf="user?.posts?.length > 0 else noPostsAvailable">
    <button class="button-get-more-posts" (click)="onGetMorePosts()">{{moreTxt}}</button>
    <app-post [post]="post" *ngFor="let post of user?.posts | limitPostsTo: limit | reverseOrder; let idx = index" (deletePost)="deletePost($event)">
      <ng-cotainer *ngIf="idx % 2 === 0 else odd">
        <div class="post-footer-even">
          <i class="far fa-thumbs-up post-footer-item"></i>
          <i class="far fa-comment post-footer-item"></i>
          <i class="far fa-share post-footer-item"></i>
        </div>
      </ng-cotainer>
    </app-post>
  </ng-cotainer>
</ng-container>

<ng-template #loading>
  <div class="loading">
    Select user to view posts
  </div>
</ng-template>

<ng-template #noPostsAvailable>
  <div class="loading">
    No posts available for selected user
  </div>
</ng-template>

<ng-template #odd>
  <div class="post-footer-odd">
    <i class="far fa-thumbs-up post-footer-item"></i>
    <i class="far fa-comment post-footer-item"></i>
    <i class="far fa-share post-footer-item"></i>
  </div>
</ng-template>
