<h1>Posts {{ user  ? ' for user with ID: ' + user.userId : '' }}</h1>

<ng-container *ngIf="!user">
  Select user
</ng-container>

<ng-container *ngIf="user">

  <table id="posts">
    <tr>
      <th>User ID</th>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let post of user?.posts | limit: limit">
      <td>{{post?.userId}}</td>
      <td>{{post?.id}}</td>
      <td>{{post?.title}}</td>
      <td>{{post?.body}}</td>
      <td><button>Expand</button></td>
    </tr>
  </table>

  <button (click)="onGetMorePosts()">{{moreTxt}}</button>

</ng-container>
